nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  box-shadow: none;
  padding: 10px 5%;
  z-index: 999;
}

.brand-logo {
  font-family: 'Quicksand', sans-serif;
  font-weight: 100;

  @media(max-width: 500px) {
    font-size: 17px;
  }
}

.text {
  font-size: 30px;
  font-weight: bold;
}

.error {
  color: red;
}

.margin-top {
  margin-top: 20px !important;
}

li {
  cursor: pointer;
}

.active {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.233);
  color: black;
  padding: 0px 17px;
  transform: translateY(-100%);
  transition: 0.5s;
}

.show {
  transform: translateY(0);
}

.black-font {
  color: black;
}

.text {
  font-size: 30px;
  font-weight: bold;
}

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  color: red;
}

.margin-top {
  margin-top: 20px !important;
}

li {
  cursor: pointer;
  padding: 0 15px;

  &:hover {
    background-color: rgba(0, 140, 255, 0.199);
  }
}

.show {
  transform: translateY(0);
}

.info {
  position: relative;
}
